@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'boxicons/css/boxicons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
  height:100dvh;
  background-image: url('/images/background.png');
}


/* .settings:hover {
  transform: rotateZ(90deg)
} */