@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'boxicons/css/boxicons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: "Nunito", sans-serif;
}


html ,body {
  height: 100vh;
  height:100dvh;
  background-color: black;
  /* background-image: url('/images/background.png'); */
  /* color: white; */
}


/* .settings:hover {
  transform: rotateZ(90deg)
} */

.scrollbar-hide{
  /* overflow: auto; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  height: 0px;
  display: none; /* Chrome, Safari, Edge */
}

/* 
*::before,*::after {
  box-sizing: border-box;
  outline: 2px green solid;
} */

/* * {
  outline: 2px green solid;
} */

.board {
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
  background: transparent;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  /* position: relative; */
}

.my-card-border{
  position: relative;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.my-card-border::after,.my-card-border::before{
  content: '';
  position: absolute;
  height: 109%;
  width: 115%;
  /* background:red; */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index:-1;
  padding: 3px;
  border-radius: 5px;
  background-image: conic-gradient(from var(--angle),transparent 10%,red);
  animation: 1s spin linear infinite;
}
.my-card-border::before{
  filter: blur(.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from{
    --angle:0deg;
  }
  to {
    --angle : 360deg;
  }
}
/* some colors : #DD335C,#13FFAA,#CE84CF,#1E67C6 */