@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'boxicons/css/boxicons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
  height:100dvh;
  background-image: url('/images/background.png');
  /* color: white; */
}


/* .settings:hover {
  transform: rotateZ(90deg)
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
  width: 5px;
  height: 5px;
}


